@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
body {
  font-size: 16px;
}

.calendar-rectangle {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #616161;
  font-size: 1em;
  font-family: "Dosis", sans-serif;
  overflow: hidden;
  box-shadow: 0px 0px 50px #888888;
}
@media (min-width: 576px) {
  .calendar-rectangle {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .calendar-rectangle {
    width: 50%;
    font-size: 1em;
  }
}
@media (min-width: 992px) {
  .calendar-rectangle {
    width: 40%;
    font-size: 1em;
  }
}
@media (min-width: 1200px) {
  .calendar-rectangle {
    width: 30%;
    font-size: 1em;
  }
}
@media (min-width: 1300px) {
  .calendar-rectangle {
    width: 20%;
  }
}
.calendar-rectangle:before {
  content: "";
  display: block;
  padding-top: 120%;
}

.calendar-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-calendar {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.main-calendar .calendar-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
  color: #ffffff;
}
.main-calendar .calendar-header .title-header {
  width: 100%;
  height: 70%;
  white-space: nowrap;
  font-size: 1.2em;
  background-color: #1e88e5;
}
@media (min-width: 992px) {
  .main-calendar .calendar-header .title-header {
    font-size: 1.4em;
  }
}
@media (min-width: 1200px) {
  .main-calendar .calendar-header .title-header {
    font-size: 1.2em;
  }
}
.main-calendar .calendar-header .title-header .header-text {
  flex: 5;
  display: flex;
  height: 100%;
}
.main-calendar .calendar-header .title-header .header-text .today-label {
  flex: 1;
  font-size: 0.8em;
}
.main-calendar .calendar-header .title-header .header-text .today-label:hover {
  cursor: pointer;
  color: #1e88e5;
  background-color: #ffffff;
}
.main-calendar .calendar-header .title-header .header-text .month-label {
  flex: 3;
}
.main-calendar .calendar-header .days-header {
  width: 100%;
  height: 30%;
  background-color: #2196f3;
}
.main-calendar .calendar-header .button-container {
  width: 100%;
  height: 30%;
  background-color: #2196f3;
}
.main-calendar .calendar-header .button-container .event-button {
  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.main-calendar .calendar-header .button-container .event-button:hover {
  background-color: #fff;
  color: #2196f3;
}
.main-calendar .days-container {
  width: 100%;
  height: 70%;
  background: #ffffff;
}
.main-calendar .days-container .week {
  height: 15%;
}
.main-calendar .day-events {
  position: relative;
  width: 100%;
  height: 70%;
  background-color: #ffffff;
  font-size: 1.2em;
}
.main-calendar .day-events .event-container {
  width: 100%;
  text-align: center;
  display: flex;
}
.main-calendar .day-events .event-container:hover {
  cursor: pointer;
}
.main-calendar .day-events .event-container .animated-time {
  width: 30%;
}
.main-calendar .day-events .event-container .animated-title {
  width: 70%;
}
.main-calendar .day-events .event-container .event-attribute {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: 5px;
}

.calendar-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-box {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  transition: all 0.4s ease-in-out 0s;
}
.calendar-box.arrow:hover {
  background-color: white;
  cursor: pointer;
  color: #1e88e5;
  transition: all 0.2s ease-in-out 0s;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}
.day .day-number {
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
}
.day:hover .day-number {
  cursor: default;
  background-color: #90caf9;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out 0s;
}
.day.today .day-number {
  border: 1px solid #90caf9;
}
.day.has-events .day-number {
  color: #1e88e5;
  font-weight: bold;
}
.day.different-month {
  opacity: 0.5;
}

/* time animation */
.time-appear {
  transform: translateX(-100%);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.time-appear.time-appear-active {
  transform: translateX(0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.time-enter {
  transform: translateX(-100%);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.time-enter.time-enter-active {
  transform: translateX(0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.time-leave {
  transform: translateX(-100%);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.time-leave.time-leave-active {
  transform: translateX(0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

/* title animation */
.title-appear {
  transform: translateX(100%);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.title-appear.title-appear-active {
  transform: translateX(0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.title-enter {
  transform: translateX(100%);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.title-enter.title-enter-active {
  transform: translateX(0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.title-leave {
  transform: translateX(100%);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.title-leave.title-leave-active {
  transform: translateX(0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

/* ----------------------------------------------------------------------------------------- */

.AuthFormComponent{
  background-image: url("../src/assets/auth-form-image-primary.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.AuthFormComponent loginButton{
  text-align: center;
}

/* .content {
  transition: 300ms;
} */

/* .account-dragon-row-input {
    width: 100px;
    height: 20px;
    margin-right: 15px;
} */

.ApplicationVersion {
    font-size: 9px;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2.5rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.625rem;
}

.box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputBox {
  position: relative;
}

.box .inputBox FormControl {
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.065rem solid #fff;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputBox FormControl:focus ~ label,
.box .inputBox FormControl:valid ~ label,
.box .inputBox FormControl:not([value=""]) ~ label {
  top: -1.125rem;
  left: 0;
  color: #03a9f4;
  font-size: 0.75rem;
}

.box FormControl[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background-color: #03a9f4;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
}

.box FormControl[type="submit"]:hover {
  background-color: #1cb1f5;
}

.box span{
    color: #fff;
}

.AuthFormError {
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 0.312rem;
  animation: shake 1s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
/* section{
  margin: 50px;
} */

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

/* img {
  position: absolute;
  width: 200px;
  margin-top: 230px;
  cursor: pointer;
} */

/* img.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
} */


.bar-group .name-label {
  text-anchor: end;
  font-weight: 300;
  font-size: 1em;
  fill: #333;
}

.bar-group .value-label {
  text-anchor: end;
  fill: #fff;
  font-weight: 900;
  font-size: 0.7em;
}

.container .bar-group {
  transition: opacity 0.3s;
}

/* Fade bars when the chart is hovered */
.container:hover .bar-group {
  opacity: 0.3;
}

/* But don't fade the hovered bar... */
.container .bar-group:hover {
  opacity: 1;
}

.container .bar-group:hover .name-label {
  font-weight: 400;
}

.container .bar-group:hover .value-label {
  font-size: 0.8em;
}